<h2 mat-dialog-title>Add {{ selectedItemType }}</h2>

<mat-dialog-content>
  <form [formGroup]="itemForm" fxLayout="column" fxLayoutGap="16px">
    <!-- General Fields -->
    <div fxLayout="row wrap" fxLayoutGap="16px">
      <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
        <mat-label>Brand</mat-label>
        <input matInput formControlName="brand" />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div fxLayout="row wrap" fxLayoutGap="16px">
      <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
        <mat-label>Date Acquired</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateAcquired" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Serial Number</mat-label>
      <input matInput formControlName="serialNumber" />
      <button mat-icon-button matSuffix color="accent" (click)="openScanner()" aria-label="Scan Barcode">
        <mat-icon>qr_code_scanner</mat-icon>
      </button>
    </mat-form-field>

    <!-- Item Type Specific Fields -->
    <div fxLayout="column" *ngIf="selectedItemType === 'Watch'" fxLayoutGap="16px">
      <mat-divider></mat-divider>
      <h3>Watch Details</h3>
      <div fxLayout="row wrap" fxLayoutGap="16px">
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Movement Type</mat-label>
          <input matInput formControlName="movementType" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Case Material</mat-label>
          <input matInput formControlName="caseMaterial" />
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px">
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Case Diameter</mat-label>
          <input matInput formControlName="caseDiameter" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Case Thickness</mat-label>
          <input matInput formControlName="caseThickness" />
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px">
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Band Material</mat-label>
          <input matInput formControlName="bandMaterial" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Band Width</mat-label>
          <input matInput formControlName="bandWidth" />
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" *ngIf="selectedItemType === 'Cologne'" fxLayoutGap="16px">
      <mat-divider></mat-divider>
      <h3>Cologne Details</h3>
      <div fxLayout="row wrap" fxLayoutGap="16px">
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Fragrance Notes</mat-label>
          <input matInput formControlName="fragranceNotes" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Concentration</mat-label>
          <input matInput formControlName="concentration" />
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px">
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Type</mat-label>
          <input matInput formControlName="type" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Size</mat-label>
          <input matInput formControlName="size" />
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" *ngIf="selectedItemType === 'Sneaker'" fxLayoutGap="16px">
      <mat-divider></mat-divider>
      <h3>Sneaker Details</h3>
      <div fxLayout="row wrap" fxLayoutGap="16px">
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Colorway</mat-label>
          <input matInput formControlName="colorway" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field" fxFlex="100" fxFlex.gt-sm="45">
          <mat-label>Size</mat-label>
          <input matInput formControlName="size" />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" (click)="openScanner()">Scan Barcode</button>
  <button mat-raised-button color="primary" [disabled]="itemForm.invalid" (click)="onSubmit()">Add Item</button>
</mat-dialog-actions>

