
<div class="dashboard-grid">
  <mat-grid-list cols="4" rowHeight="2:1" gutterSize="15px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
      
        <ngx-charts-bar-vertical
          [results]="chartData"
          [scheme]="colorScheme"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"          
          [barPadding]="20"          
          [animations]="true"
          [showDataLabel]="false"
          [noBarWhenZero]="false"
          [yScaleMax]="yScaleMax">
        </ngx-charts-bar-vertical>  
                 
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">6</mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">7</mat-grid-tile>
    <mat-grid-tile rowspan="2">8</mat-grid-tile>  
  </mat-grid-list>
</div>


  <div class="dashboard-grid">
    <mat-grid-list cols="3" rowHeight="350px" gutterSize="16px">
      <mat-grid-tile *ngFor="let item of items" (click)="navigateToItemList(item.itemTypeId)">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>{{ item.type }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="stats">
              <h2>{{ item.count }}</h2>
              <p>Total Items</p>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>